name: CI

on:
  pull_request:
  push:
    branches: [main]
  release:
    types:
      - published

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include: # Test against all LTS + latest
          - java: 8
          - java: 11
          - java: 17
          - java: 21
          - java: 22-ea
    steps:
      - uses: actions/checkout@v4
      - name: Setup JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "${{ matrix.java }}"
          cache: sbt
      - name: Build and test
        shell: bash
        run: |
          sbt -v clean +publishLocal scripted

  publish:
    runs-on: ubuntu-latest

    needs: [test]
    if: github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/checkout@v4
      - name: Setup JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: sbt
      - name: Publish
        shell: bash
        run: |
          sbt ci-release
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}